<div class='col-xs-4'>
	<table class="table table-condensed">

		<tr>
	      <td class='col-md-2'></td>
	      <td>Number of Categories: <%= Category.number_of_categories %></td>
	    </tr>

	    <tr>
	      <td class='col-md-2'></td>
	      <td>Category with the highest number of items donated: </td>
	    </tr>

	    <tr>
	      <td class='col-md-2'></td>
	      <td>Category with the lowest number of categories donated: %</td>
	    </tr>
	    
	</table>
</div>