<div class='col-xs-4'>
	<table class="table table-condensed">
	    <tr>
	      <td class='col-md-2'></td>
	      <td>Total number of items donated: </td>
	    </tr>

	    <tr>
	      <td class='col-md-2'></td>
	      <td>Number of items donated today: </td>
	    </tr>

	    <tr>
	      <td class='col-md-2'></td>
	      <td>Total number of donations accepted:</td>
	    </tr>

	    <tr>
	      <td class='col-md-2'></td>
	      <td>Number of donations accepted today: </td>
	    </tr>

	    <tr>
	      <td class='col-md-2'></td>
	      <td>Item with highest number of sales: <%= Item.highest_sales_item %></td>
	    </tr>

	    <tr>
	      <td class='col-md-2'></td>
	      <td>Item with highest sales ratio: <%= Item.name_of_highest_ratio_sold %></td>
	    </tr>
	    
	</table>
</div>
