<div class='col-xs-4'>
	<table class="table table-condensed">
	    <tr>
	      <td class='col-md-2'></td>
	      <td>Total number of items donated: </td>
	    </tr>

	    <tr>
	      <td class='col-md-2'></td>
	      <td>Number of items donated today: </td>
	    </tr>

	    <tr>
	      <td class='col-md-2'></td>
	      <td>Total number of donations accepted:</td>
	    </tr>

	    <tr>
	      <td class='col-md-2'></td>
	      <td>Number of donations accepted today: </td>
	    </tr>
	    
	</table>
</div>
