<div class='col-xs-4'>
	<table class="table table-condensed">
	    <tr>
	      <td class='col-md-2'></td>
	      <td>Number of users: <%= User.number_of_users %></td>
	    </tr>

	    <tr>
	      <td class='col-md-2'></td>
	      <td>Number of registered businesses: <%= User.number_of_business_users%></td>
	    </tr>

	    <tr>
	      <td class='col-md-2'></i></td>
	      <td>Number of registered charities: <%= User.number_of_charity_users %></td>
	    </tr>
	    
	</table>
</div>