<h1>My cart</h1>
<% @current_cart.line_items.each do |line_item| %>
  <h2><%= line_item.item.title %></h2>
  <p>Inventory: <%= line_item.item.inventory %></p>
  <% end %>

<%= button_to "Checkout", orders_path %>
