<h1>My cart</h1>
<% @current_cart.line_items.each do |line_item| %>
  <li>Item: <%= line_item.item.title %>
  <p>Inventory: <%= line_item.item.inventory %></p></li>
  <% end %>

<%= button_to "Checkout", orders_path %>