<% @items.each do |item| %>
	<h2><%= link_to "#{item.title}", item_path(item)%></h2>
	<div class ='row'>
	   <div class ="col-xs-2">	
		 <p><img src="<%=item.photo_url%>" width=100px/></p>
	  </div>
	  <div class ="col-xs-8">	
		  <p>Inventory: <%= item.inventory %></p>
	  </div>
  </div>
<% end  %>
   
   
   
  