<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-info"><%= flash[:notice] %></div>
<% end %>

<% if flash[:danger] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<% if flash[:warning] %>
  <div class="alert alert-warning"><%= flash[:notice] %></div>
<% end %>