<div id="map-container">
  <div id="map-canvas">
  	<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="642" height="443" src="<%='https://maps.google.com/maps?hl=en&q=' + @user.address + ' ' + @user.city + ' ' + @user.state + '&ie=UTF8&t=roadmap&z=6&iwloc=B&output=embed'%>">
  	</iframe>
  </div>
</div>